{{#each users}}
	<div class="user">
		{{#unless images.length}}
			{{#if gender}}
				<img src="img/male.png" alt="">
			{{else}}
				<img src="img/female.jpeg" alt="">
			{{/if}}
		{{else}}
			<img src="{{images}}" alt="">
		{{/unless}}

		<strong></strong>
		<div class="status">
			<span class="online"></span>
			<small>{{username}}</small>
		</div>
		<a href="/user/{{_id}}" class="btn">MORE</a>
	</div>
{{/each}}
