{{#if isAuthenticated}}
	<h1>Home</h1>
{{else}}
	<form action="/register" class="register clearfix" method="post">
		<h2>SIGN UP</h2>
		<input name="firstname" class="input" type="text" placeholder="First name">
		<input name="email" class="input" type="text" placeholder="Email address">
		<input name="lastname" class="input" type="text" placeholder="Last Name">
		<input name="password" class="input" type="text" placeholder="Password">
		<input name="username" class="input" type="text" placeholder="Username">
		<input name="password2" class="input" type="text" placeholder="Confitm password">
		<label for="" id="dob">Birthdate</label>
		<label for="">Day:
		<select class="" name="day">
			{{#each days}}
				<option value="{{this}}">{{this}}</option>
			{{/each}}
		</select>
		</label>
		<label for="">Month:
		<select class="" name="month">
			{{#each months}}
				<option value="{{this}}">{{this}}</option>
			{{/each}}
		</select>
		</label>
		<label for="">Year:
		<select class="" name="year">
			{{#each years}}
				<option value="{{this}}">{{this}}</option>
			{{/each}}
		</select>
		</label>
		<br>
		<span class="gender">
			<label for=""><input type="radio" name="gender" value="male">Male</label>
			<label for=""><input type="radio" name="gender" value="female">Female</label>
		</span>
		<button class="btn shallow fill">SIGN UP</button>
	</form>
{{/if}}
