<div id="info" class="clearfix">
	<div id="profile-img">
		<img src="img/face2.jpg" alt="" class="rounded"><br>
		<i class="fas fa-pen-square"></i>Edit<br><br><br>
		<div class="img clearfix"><img alt="" src="img/face1.jpg"></div>
		<div class="img clearfix"><img alt="" src="img/face3.jpg"></div>
		<div class="img clearfix"><img alt="" src="img/face5.jpg"></div>
		<div class="img clearfix"><img alt="" src="img/face4.jpg"></div>
	</div>
	<div id="about">
		<h2>{{user.username}}, 21</h2>
		<strong>Cape Town, South Africa</strong>

		<h2>About Me:</h2>
		<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, a! Eius distinctio modi, incidunt nam ex aut provident dicta ducimus!</p>
		<p>Facere praesentium commodi natus autem repellat, maxime suscipit vitae blanditiis quisquam soluta, eos quia est earum consequatur laborum, reprehenderit aliquam.</p> -->
		<textarea name="name" rows="8" cols="80" placeholder="Click to write biography..">{{user.bio}}</textarea>
		<h2>Info: </h2>
		<table>
			<tr>
				<td>Name:</td>
				<td><input type="text" value="{{user.firstname}}" name="name"></td>
			</tr>
			<tr>
				<td>Surname:</td>
				<td><input type="text" value="{{user.lastname}}"></td>
			</tr>
			<tr>
				<td>Email Address:</td>
				<td><input type="text" value="{{user.email}}"></td>
			</tr>
		</table>
	</div>
</div>
<div id="preferences" class="clearfix">
	<h2>Preferences</h2>
	<div class="box">
		<strong>Show me</strong><br>
		<label for="">Men<input type="radio" name="sex" value="1" {{sex.men}}></label>
		<label for="">Women<input type="radio" name="sex" value="2" {{sex.women}}></label>
		<label for="">Both<input type="radio" name="sex" value="3" {{sex.both}}></label>
	</div>
	<div class="box clearfix">
		<strong>Maximum distance</strong>
		<div class="range distance-km" data-value="{{preferences.distance}}"><span>{{preferences.distance}}km</span></div>
		<div id="master" style="width:260px; margin:15px;"></div>
	</div>
	<div class="box clearfix">
		<strong>Age range</strong>
		<div class="range"><span>18</span>-<span>32</span></div>
		<div id="slider-range"></div>
	</div>

</div>
<div id="interests" class="clearfix">
	<h2>Interests</h2>
	<div class="box">
		<table>
			<tr>
				<td><label for=""><i class="fas fa-film"></i> Movies</label></td>
				<td><input name="interest" type="checkbox" value="movies" {{interests.movies}}></td>
				<td><label for=""><i class="fas fa-palette"></i> Art</label></td>
				<td><input name="interest" type="checkbox" value="art" {{interests.art}}></td>
			</tr>
			<tr>
				<td><label for=""><i class="fas fa-utensils"></i> Food</label></td>
				<td><input name="interest" type="checkbox" value="food" {{interests.food}}></td>
				<td><label for=""><i class="fas fa-plane-departure"></i> Travel</label></td>
				<td><input name="interest" type="checkbox" value="travel" {{interests.travel}}></td>
			</tr>
			<tr>
				<td><label for=""><i class="far fa-futbol"></i> Sport</label></td>
				<td><input name="interest" type="checkbox" value="sport" {{interests.sports}}></td>
				<td><label for=""><i class="fas fa-music"></i> Music</label></td>
				<td><input name="interest" type="checkbox" value="music" {{interests.music}}></td>
			</tr>
			<tr>
				<td><label for=""><i class="fas fa-mountain"></i> Hiking</label></td>
				<td><input name="interest" type="checkbox" value="hiking" {{interests.hiking}}></td>
				<td><label for=""><i class="fas fa-book"></i> Readings</label></td>
				<td><input name="interest" type="checkbox" value="books" {{interests.books}}></td>
			</tr>

		</table>
	</div>
</div>
